body {
    background-color: #F0F0F0; /* Blanco tirando a oscuro */
    font-family: 'Verdana', sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.header-container {
    background: linear-gradient(to right, #c04d4d, #FF6666); /* Gradiente de rojo */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.title {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

form {
    background-color: #FFE6E6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

fieldset {
    border: 2px solid #c74b4b;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #FFF0F0; 
}

legend {
    font-weight: bold;
    color: #a52e2e;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e4140d;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a13333;
    border-radius: 5px;
    background-color: #FFF5F5; 
    color: #ca3e3e; 
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    font-size: 1.05em;
    cursor: text;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover,
textarea:hover,
select:hover {
    transform: scale(1.005); 
    border-color: #FF3333;
    background-color: #fadbd0; 
    color: #cf6b6b;
}

input[type="submit"] {
    background-color: #af2727;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #942b2b;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px; 
    border-radius: 10px; 
    margin-bottom: 20px;
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

nav li {
    margin: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.2s;
    cursor:pointer;
}

nav a:hover {
    background-color: #f35a5a;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #c04d4d;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    flex-shrink: 0; 
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #da6161;
}

.section-box {
    grid-column: span 1 / span 1;
    border: 2px solid #FF6666;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #FFF5F5; /* Blanco pastel */
    color: #CC0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    width: 60%;
    margin: 20PX auto;
    box-sizing: border-box;
}

.section-box img {
    width: 18%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-box-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section-box-container img {
    display: block;
    margin: 0 0 auto 750px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section-box a {
    color: #CC0000;
    text-decoration: none;
    font-weight: bold;
}

.section-box a:hover {
    color: #FF3333;
}

.section-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.welcome-box {
    background-color: #FFF5F5; /* Blanco pastel */
    border: 2px solid #FF6666;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #CC0000;
    width: calc(100% - 2%); /* Ajustar el ancho para dejar margen */
    text-align: center;
    margin: 0 1% 20px 1%; /* Margen igual a izquierda y derecha */
    padding: 20px;
    box-sizing: border-box;
}

.welcome-box h2,
.welcome-box p {
    color: #CC0000;
}

.welcome-box a {
    color: #CC0000;
    text-decoration: none;
    font-weight: bold;
}

.welcome-box a:hover {
    color: #FF3333;
}

.welcome-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* CSS para mostrar/ocultar opciones de fundación */
#foundationOptions {
    display: none;
}

#foundation.Sí + #foundationOptions {
    display: block;
}
.img-left {
    float: left;
    margin: 0 20px 20px 0;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.table-container {
    margin: 20px auto; /* Centrar el bloque con la tabla */
    border-collapse: collapse;
    width: 80%; /* Ajustar el ancho de la tabla */
    cursor: default;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-container th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #ddd;
}
.dynamic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dynamic-list li {
    width: 48%;
    background-color: #FFF5F5;
    border: 1px solid #FF6666;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}
.dynamic-list li:nth-child(odd) {
    align-self: flex-start;
}

.dynamic-list li:nth-child(even) {
    align-self: flex-end;
}
.dynamic-list li:hover {
    transform: scale(1.01);
    background-color: #FFE6E6;
}
ul {
    list-style-type: none;
    padding: 0;
}
.section-box:hover {
    transform: scale(1.01);
    background-color: #fadbd0;
}
.welcome-box:hover {
    transform: scale(1.01);
    background-color: #fadbd0;
}
.star {
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgb(179, 80, 50);
    border-radius: 50%;
    pointer-events: none;
    animation: star-animation 1s linear infinite;
}
@keyframes star-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
/* Responsive styles for mobile */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    form {
        padding: 15px;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-bottom: 10px;
    }
    .dynamic-list li {
        width: 100%;
    }
    .section-box-container {
        grid-template-columns: 1fr;
    }
}

/* Responsive styles for tablets */
@media (max-width: 1024px) {
    body {
        padding: 10px;
    }
    form {
        padding: 15px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        padding: 15px 30px; 
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-bottom: 10px;
    }
    .dynamic-list li {
        width: 100%;
    }
    .section-box-container {
        grid-template-columns: 1fr;
    }
}